body {
  background-color: #03244d;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #cc4e0b;
  grid-area: header;
}

main {
  grid-area: main;
}

aside {

  grid-area: aside;
}

footer {
  background-color :#cc4e0b;
  grid-area: footer;
}

@media (max-width: 600px) {
  div.container{
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }
}
h1{
  font-family: sans-serif;
}

h2 {

}

p {
  font-family: cursive;
}

a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}
